/*------------------
| - CSS RESETS -  |
------------------*/
* {
  box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
  margin: 0;

  background: url('../img/bg.jpg');
  background-size: cover;
  color: white;
  font-family: sans-serif;
  font-style: italic;
}

img {
  max-width: 100%;
}



/*------------------
| - LAYOUT STYLES -  |
------------------*/
.section {
  padding: 1rem;
}

.left-info {
  position: fixed;
  bottom: 3rem;
  left: 3rem;
  overflow: auto;
  /*background: red;*/
  border: 1px solid red;
  font-size: 2rem;
}

.left-info > * {
  float: left
}

.right-info {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  overflow: auto;
  border: 1px solid red;
}





/*------------------
| - left-info COMPONENT STYLES -  |
------------------*/
.character-icon {
  margin-right: 1rem;
}

.stacked__bar-status {
  /*background: purple;*/
  overflow: auto;
  transform: rotate(1rem);
}

.stacked__num-status > p span{
  padding-right: .5rem;
}
.num-status__remain {
  font-size: 3rem;
}

.blue {
  color: #155dac;
}

.health {
  float: left;
  width: 1rem;
  height: 2rem;
  margin: 0.1rem;

  border-radius: .125rem;
  background: rgba(255,255,255,0.75);
}

.damage {
  background: rgba(255,255,90,0.75)
}



/*------------------
| - right-info COMPONENT STYLES -  |
------------------*/
.right-info > img {
}

.top {
  float: right;
  border: 1px solid blue;
  display: block;
}
