/*------------------
| - CSS RESETS -  |
------------------*/
* {
  box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
  margin: 0;

  background: url('../img/bg.jpg');
  background: black;
  background-size: cover;
  color: #fff;
  font-family: sans-serif;
  font-style: italic;
}

img {
  max-width: 100%;
}



/*------------------
| - LAYOUT STYLES -  |
------------------*/
.section {
  padding: 2rem;

}


.left-info {
  position: absolute;
  bottom: 5rem;
  left: 5rem;
  overflow: auto;
  font-size: 2rem;
  transform: rotate(-2deg);
  /*border: 1px solid red;*/
}

.left-info > * {
  float: left;
}

.right-info {
  position: absolute;
  bottom: 5rem;
  right: 5rem;
  overflow: auto;
  /*background: green;*/
  transform: skewX(165deg);

}

.center-info {
  width: 50%;
  border: 1px solid red;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

}





/*------------------
| - left-info COMPONENT STYLES -  |
------------------*/
.character-icon {
  margin-right: 1rem;
}

.stacked__bar-status {
  /*background: purple;*/
  overflow: auto;
  transform: skewX(165deg);
  margin-right: .5rem;
}

.stacked__num-status > p {
  margin: 0;
}

.stacked__num-status > p span{
  padding-right: .5rem;
}
.num-status__remain {
  font-size: 3rem;
}

.blue {
  color: #155dac;
}

.health {
  float: left;
  width: 1rem;
  height: 2rem;
  margin: 0.1rem;

  border-radius: .125rem;
  background: rgba(255,255,255,0.85);
}

.damage {
  background: rgba(255,255,90,0.85)
}



/*------------------
| - right-info COMPONENT STYLES -  |
------------------*/

/*.wrap {
  position: relative;
  overflow: auto;
  width: 100%;
}*/

.top_ammo {
  text-align: right;
  font-size: 2.5rem;
  margin: 0;
  padding-right: .25rem;
}

.abilities {
  float: left;
  margin-right: 1rem;
}

.ability-group {
  float: left;
  margin-left: 1rem;

}

.gun {
  border-right: .75rem solid #46a5ac;
  padding-right: 1rem;
  float: right;
  border-radius: 1rem;
}
.gun-img {

  height: 10rem;

}

.ability {
  border: thin solid #e8dceb;
  border-radius: 1rem;
  padding: .5rem;
  height: 7.5rem;
}

.keybinding {
  border: 0.1rem solid #e8dceb;
  display: block;
  width: 2.5rem;
  height: 3rem;
  margin: .5rem auto;

  text-align: center;
  line-height: 3rem;
  border-radius: .5rem;
  font-size: 1.5rem;
  font-weight: 400;
}

/*------------------
| - center-info COMPONENT STYLES -  |
------------------*/
.center-info__action-text {
  text-transform: uppercase;
  font-weight: 800;
  font-style: italic;
  font-size: 2rem;
  text-align: center;
}
.opponent-name {
  color: red;
}

.center-info__img {
  left: 50%;
  margin-bottom: 5rem;
  position: relative;
  transform: translate(-50%, 0);
  text-align: center;
  width: 10rem;
  border: 1px solid red;
}

.inner-circle {
  margin-top: 10rem;
  position: relative;
  width: 11rem;
  height: 11rem;
  border: .2rem dashed yellow;
  border-radius: 50%;
  margin: 0 auto;
}

.inner-circle::after {
  content: " ";
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;

  border: 5px dashed yellow;
  border-radius: 50%;
}

.percent {
  padding: 0;
  margin: 0;

  line-height: 10rem;

  text-align: center;
  font-size: 3.5rem;
  font-style: italic;
}

/* styles the % symbol */
.yellow {
  color: yellow;
  font-size: 1.5rem;
}
